html, body {
  height: 100%;
  width: 100%;
  background-color: #000;
  color: #fff;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga', 'kern';
  -moz-font-feature-settings: 'liga', 'kern';
  font-feature-settings: 'liga', 'kern';

  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
	align-items: center;
  justify-content: space-between;
}

img {
  max-width: 100%;
}

.container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
  margin: 20px;
  border: 2px solid #fff;
  min-height: 600px;
  min-width: 600px;

  opacity: 0;
  animation: fade 2s ease-in-out forwards;
	animation-delay: 1s;
}

.container:nth-child(2) {
  animation-delay: 2s;
}

.container:nth-child(3) {
  animation-delay: 3s;
}

.container:nth-child(4) {
  animation-delay: 4s;
}

.container > * {
  display: flex;
	align-items: center;
	justify-content: center;
}

.sub-logo {
  width: 250px;
}

.side-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 300px;
  padding-bottom: 30px;
}
.side-text-header {
  font-size: 24px;
}
.side-text-content {
  font-size: 18px;
}

@media only screen and (max-width: 500px) {
  html, body {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .container {
    min-width: 0;
  }
  .side-text {
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
}

@keyframes fade {
  100% { opacity: 1; }
}
