html, body {
  height: 100%;
  width: 100%;
  background-color: #111;
  color: #eee;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

.main-logo {
  display: block;
  margin: 0 auto;
  width: 500px;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.sub-logo {
	display: flex;
	align-items: center;
	justify-content: center;
  padding: 0.5em;
  width: 250px;
}
